@page "/addressinfo"
@page "/address"

<h3>Address form</h3>
<EditForm Model="@model" OnSubmit="ValidSubmit">
    <DataAnnotationsValidator />
    <label for="@model.Street">Street:</label>
    <InputText @bind-Value="@model.Street" class="form-control" />
    <label for="@model.PostalCode">Post code:</label>
    <InputText @bind-Value="@model.PostalCode" class="form-control" />
    <label for="@model.City">City:</label>
    <InputText @bind-Value="@model.City" class="form-control" />
    <label for="@model.Country">Country:</label>
    <InputText @bind-Value="@model.Country" class="form-control" />
    <button class="btn btn-primary" type="submit">Save</button>
</EditForm>
<div class="card">
    <div>@model.Street</div>
    <div>@model.PostalCode @model.City</div>
    <div>@model.Country</div>
</div>



